# Core AI & Audio Processing
kokoro-onnx
misaki[espeak]
huggingface_hub
soundfile
scipy
numpy
pydub

# Desktop Application & Media
customtkinter
Pillow
pygame

# API & Web Services
fastapi==0.115.11
uvicorn==0.34.0
pydantic
pygame
pydub
imageio-ffmpeg

# API & Web Services
fastapi
uvicorn
python-multipart
mcp
pyinstaller
